// Sizing & moving variables
$initial: initial;
$auto-prop: auto;
$ten-px: 10px;
$one-px: 1px;
$hundred-percent: 100%;
$display-none: none;
// The size of the media query 
$media-medium-size: 768px;
// Colors variables
$shade-of-white: #fff;
$shade-of-grey: #777;
$shade-of-salmon: #e4757a;
$shade-of-turquoise: #58e1c1;
$shade-of-light-blue: #51ddfc;
$almost-orange: #fd7856;

