/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $hundred-percent;
    color: $shade-of-white;
    border: $display-none;
    padding: $ten-px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $shade-of-light-blue;
  }
  
  .error {
    background-color: $shade-of-salmon;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: $almost-orange;
  }
  